name: Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nvim-version: [ stable, nightly ]
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Neovim ${{ matrix.nvim-version }}
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-version }}
      
      - name: Run tests
        run: |
          cd ${{ github.workspace }}
          nvim --headless --noplugin -u NONE \
            +"lua dofile('test/run_tests.lua')" +qa!
